.home-page {
    color: white;
}

#wrapper-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#image {
    height: 100px;
}

.card {
    background-color: #1F1F1F;
    /*background-color: #052962;*/
    color: white;
    padding: 0rem 1rem 1rem 1rem;
}

#wrapper-articles {
    margin-top: 1rem;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#image-article {
    height: 300px;
}